# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.out

# Debug files
*.dSYM/

/Debug/siridb-server
/Release/siridb-server
*.d
*.d
/testdir
*.log

# Eclipse
/.settings
.cproject
.project

# Code:blocks
bin/
siridbc.cbp
siridbc.depend
siridbc.layout

# Python
*/__pycache__/*
*.pyc

# Build
build/

# Grammar
grammar/cgrammar/
grammar/jsgrammar/
grammar/pygrammar/
grammar/gogrammar/
grammar/javagrammar/

# Sublime Text
*.sublime-project
*.sublime-workspace

# VS Code
.vscode/

# Test
itest/testdir
test/testdir

# Debian
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/siridb-server.postrm.debhelper
debian/siridb-server.substvars
debian/siridb-server/
Release/siridb-server.1

