#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

override_dh_auto_build-arch:
	dh_auto_build --sourcedirectory=Release
	help2man -N -n"time series database server" Release/siridb-server > Release/siridb-server.1

override_dh_auto_clean:
	$(MAKE) --directory=Release clean
	dh_auto_clean
